@import "../../variables";
@import "../../mixins";
@import "../../fonts";

.loadingScreen {
  display: flex;
  height: 100vh;
  width: 100%;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  .loadingMessage {
    color: $sand-dune;
    font-size: 14px;
    font-weight: 400;
  }

  .loadingMessagesContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 1em;
    justify-content: center;
    position: relative;
    width: 100%;

    .loadingMessage {
      position: absolute;
    }
  }
}
